.contenedorTextoProducto {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    /* background-color: blueviolet; */
    width: 13rem;
    height: 29rem;
    border-radius: 0.5rem;
    justify-content: flex-start;
    align-content: space-between;

    /* border-style: solid; */
    /* border-color: black; */
    /* border-width: 0.1rem; */
}

.resaltarOfertaDelDia {
    background-color: #3483FA;
    color: #FFFFFF;
    width: 36%;
    font-size: 0.6rem;
    border-radius: 0.2rem;
    display: flex;
    align-content: center;
}

.contenedorDetalleProducto{
    display: flex;
    flex-direction: column;
    width: 96%;
    background-color:aqua;
}

.precioOriginal{
    text-decoration: line-through;
    font-size: 0.6rem;
    color: #666666;
}

.contenedorPrecioProducto{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.precioFinal{
    font-size: 1.5rem;
}