.modal-contenedor{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.551);
    display: grid;
    place-items: center;
    position: absolute;
}

.modal-paper{
    background-color: white;
    border-radius: 10px;
    height: 40vh;
    width: 50vw;
    padding: 20px;
}