.contenedorTarjetaProducto {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    /* background-color: blueviolet; */
    width: 13rem;
    height: 29rem;
    border-radius: 0.5rem;
    justify-content: flex-start;
    align-content: space-between;

    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
}

hr{
    border-color: chartreuse;
    height: 0rem;
    width: 99%;
}

