.contenedor03 {
     color: white;  
     display: flex; 
     flex-direction: column;    
     justify-content: center;   
     height: 5rem;  
     padding-left: 1rem;
}

.pretitulo {
    margin: 0rem;
    margin-bottom: 0.2rem; 
    font-size: 0.5rem;
    font-weight: bold;
}

.titulo01 {
    margin: 0rem;
    margin-bottom: 0.2rem; 
    font-size: 1rem;
    font-weight: bold;
}

.subtitulo {
    margin: 0rem;
    margin-bottom: 0.2rem;
    font-size: 0.85rem;
    font-weight: 300;
}